header {
	  
    color: #d3c7a2;
    font-size: 20px;
}

#tabz {
    display: inline;
}

.seaweed {
	  position:fixed;
	  right:10px;
	  bottom: 10px
}

body {
    background-image: url("images/fibepeebles.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-size: 20px;
    font-weight: 550;
    text-indent:20px;
    color: #d3c7a2;
}

.slugcat {
    width: 300px;
    height: 300px;
}




#contacts {
    border-style: solid;
    background-color: #025764;63;
}


